{% extends "layout.html" %}
{% block head %}
<head>
    <title>Minnesota Analysis of Sentencing Trends - Load Data</title>
</head>
{% endblock %}

{% block body %}
<body>

    <h1>Load a Dataset</h1>
    <p>The standard dataset is all felonies sentences in the state of Minnesota from 2001-2019.</p>

    <form method=post>
        <dl>
          <dt>Code:
          <dd><input type=text name=code value="{{ request.form.code }}">
        </dl>
        <p><input type=submit value=Load>
    </form>

</body>
{% endblock %}