{% extends "layout.html" %}
{% block title %} — Crosstab{% endblock %}

{% block body %}

    <h1>View Table</h1>
    <div class="card">
        <h3>Total Entries</h3>
        <p>{{ data['entries'] }}</p>
    </div>
    <div class="card">
        <h3>Dependent Variable</h3>
        <p>{{ variables['d'][0] }} => {{ variables['d'][1] }}</p>
    </div>
    <div class="card">
        <h3>X-Axis Variable</h3>
        <p>{{ variables['x'][0] }} => {{ variables['x'][1] }}</p>
    </div>
    <div class="card">
        <h3>Y-Axis Variable</h3>
        <p>{{ variables['y'][0] }} => {{ variables['y'][1] }}</p>
    </div>

    <table>
        <tr>
            <th>*</th>
            {% for ii in y_headers %}
            <td><strong>{{ ii }}</strong></td>
            {% endfor %}
        </tr>
        {% for ir in sheet %}
        <tr>
            <th>{{ ir }}</th>
            {% for ic in sheet[ir] %}
            <td>
                N: {{ sheet[ir][ic]['N'] }}
                {% if variables['d'][0] != '#' %}
                <br>M: {{ sheet[ir][ic]['mean'] }}
                <br>Mdn: {{ sheet[ir][ic]['mdn'] }}
                <br>Std: {{ sheet[ir][ic]['std'] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}