{% extends "layout.html" %}
{% block title %} — Create crosstab{% endblock %}

{% block body %}

    <h1>Create Crosstab</h1>
    {% for ie in error %}
    <p class=error><strong>Error:</strong> {{ ie }}
    {% endfor %}

    <div class="card">
        <h3>Total Entries</h3>
        <p>{{ data['entries'] }}</p>
    </div>

    <form method="post" data-loading="Computing statistics…">
        <input type="submit" value="Create Table">
        <br>
        <h3><input type="radio" name="dependant" value="#">    Use number of occurrences as dependent variable.</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Column Header</th>
                    <th>Set Dependent</th>
                    <th>Set X Axis</th>
                    <th>Set Y Axis</th>
                </tr>
            </thead>
            <tbody>
                {% for col in data['columns'] %}
                <tr>
                    <td>{{ col }} => {{ data['columns'][col] }}</td>

                    {% if col in data['numeric'] %}
                        <td><input type="radio" name="dependant" value="{{ col }}"></td>
                    {% else %}
                        <td>&emsp;&emsp;</td>
                    {% endif %}

                    <td><input type="radio" name="y_axis" value="{{ col }}"></td>
                    <td><input type="radio" name="x_axis" value="{{ col }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}